@media only screen and (min-width: 200px) {
	body {
		font-family: 'Press Start 2P', cursive;
		background-color: black;
		color: #0dff00;
	}
	.header {
		text-align: center;
	}
	.example {
		text-align: center;
		font-family: 'Press Start 2P', cursive;
	}
	.main {
		text-align: center;
	}
	.filter {
		text-align: center;
		margin-top: 2em;
		color: #000000;
		
		font-family: 'Press Start 2P', cursive;
	}
	.displayReg {
		margin-top: 2em;
		text-align: center;
		padding: 2em;
		font-family: 'Press Start 2P', cursive;
		font-stretch: expanded;
		color: #0dff00;
		
	}
	.ol {
		text-align: center;
	}
	.li {
		text-align: center;
		font-family: 'Press Start 2P', cursive;
	}
	input {
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		font-size: 15px;
		font-family: 'Press Start 2P', cursive;
	}
	button {
		cursor: default;
		padding: 9px;
		background:#0dff00;
		color: #000;
		border-radius: 12px;
		font-size: 20px;
		font-family: 'Press Start 2P', cursive;
		
	}
	.the_list {
		text-align: center;
	}
	
	button:hover, button:focus {
		background-color: #0dff00;
		color: #000;
	}
	h1 {
		color: #0dff00;
		font-family: 'Press Start 2P', cursive;
		font-size: 3em;
		padding-top: 1em;
		font-weight: normal;
		line-height: 48px;
		margin: 0 0 50px;
		text-align: center;
		
	}
	h2 {
		color: #0dff00;
		font-family: 'Press Start 2P', cursive;
		font-size: 22px;
		font-weight: bold;
		line-height: 32px;
		margin: 0 0 24px;
	
	}
	p {
		color: #0dff00;
		
		font-family: 'Press Start 2P', cursive;
		font-size: 25px;
		line-height: 24px;
		margin: 0 0 24px;
	}
	a {
		color: #000000;
		text-decoration: underline;
	}
	a:hover {
		color: #a7e8f8;
		text-decoration: underline;
	}
	.dropDown {
		text-align: center;
		margin: 0.5em;
	}
	.clear {
		padding-top: 2em;
		font-family: 'Press Start 2P', cursive;
		text-align: center;
	}
	li {
		padding: 1em;
		/* margin: auto; */
		list-style: none;
		font-family: 'Press Start 2P', cursive;
	}
}